* {
    margin: 0;
    padding: 0;
    /* transition: all 0.5 ease-out; */
}

:root{
    --font-main: "Istok Web", serif;
    --font-bold: "Istok Web", serif;

    --black:#070600;
    --green:#E0F1E3;
    --light-grey:#F4F5F6;
    --bright-green:#5DE571;
    --purple:#673FD7;
    --light-purple:#DADCF5;
    --ultra-light-purple:#F8F8FF;
    --blue:#5de4e4;
    --white: #FFF;
    --grey:#6c6c6c;
    
}

html{
    height:100%;
    font-family:var(--font-main);
}

body{
    min-height:100%;
    position:relative;
    height:fit-content;
    font-size: 1em;
    box-sizing: border-box;
}

h1 {
    color: var(--blue);
    text-align: center;
    margin:20px 0px 0px 20px;
}


/**************************************** LAYOUT *****/

/* NAV */
nav{
    width:99%;
    border-radius: 5px;
    margin:auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color:var(--black);
    height:15vh;

    a{
        color:var(--light-grey);
        text-decoration: none;
    }
    
}

#nav-links{
    width:30%;
    height: fit-content;
    display:flex;
    justify-content: flex-start;
    gap:10%;  
    position:relative;
    right:0;  
    bottom:15%;
}

#nav-links a:hover{
    color: var(--blue);
}

#nav__logo{
    width:fit-content;
    display: flex;
    margin:20px 0px 0px 20px;

    p{
        color:var(--green);
        font-size: 1.5em;
        height: fit-content;
        position:relative;
        bottom:-45px;
    }
}

#nav-right{
    width: min-content;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    gap:20%; 
    padding-right:10vh;
    position:relative;
    bottom:40%;

    .sign{
        max-height:fit-content;
        
        min-width:fit-content;
        height: min-content;
        border-radius:4px;
        padding:5px;
        text-align: center;
        font-weight:700;
    }

    .signUp:hover,.signIn:hover{
        transform: scale(1.1);
        background-image: linear-gradient(to right top, #5de571, #32ee9b, #00f5c1, #00fbe3, #00ffff);
        color: var(--black);
    }

    .signIn{
        border: 2px solid var(--blue);
    }

    .signUp{
        border: 2px solid var(--bright-green);
    }

}
    .nav__search-bar{
        width: fit-content;
        display: flex;
        position: relative;
        bottom:15%;
    }

    .nav__search-bar input{
        border-radius:4px;
        border:none;
        padding:5px;
    }

    .nav__search-bar .fa-solid{
        color:var(--black);
        position:relative;
        left:-15%;
        top:6px;
    }


/************* FOOTER */
footer{
    width:100%;
    display: flex;
    justify-content: center;
    position:relative;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--black);
    height:23vh;


    #footer-left{
        display: flex;
        flex-direction: column;
        position:relative;
        right:25%;
        gap:8%;
    
    }

    a{
        text-decoration: none;
        color: var(--blue);
    }
    p{
        color: var(--green);
    }

    #footer-middle{
     

        #small{
            position:absolute;
            bottom: 0;
            font-size: 0.8em;
        }
    }
    #footer-middle{
        display: flex;
        gap:8%;
        flex-direction: column;

    }

    #footer-right{
        display: flex;
        flex-direction: column;
        position : relative;
        left:20%;
        gap:0;
    
        img{
            width:20px;
            height: 20px;
            display:block;
            margin-right: 10px;
         
        }

        .socials{
            display: flex;
            padding:10px;
        }

        p{
            text-align: center;
        }
    }

}

    /**************************************** HOME *****/
.wrapper {
    padding:20px;
    }
    .content {
        padding-bottom: 200px;
      }


.links-wrapper{
    position:absolute;
    right: 10%;
    width:fit-content;
    display: flex;
    gap:20%;
    margin:20px;

    .link{
        background-color: var(--purple);
        padding:5px;
        border-radius: 4px;
        touch-action: manipulation;
        color: var(--white);
        }
    }
   
.posts-wrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:50%;
    position:relative;
    left:40%;
}

.posts{
    display: flex;
    flex-direction: column;
    /* border: 4px solid var(--green); */
    position : relative; 
    top:100px;
    border-radius: 4px;
    padding:20px;
    box-shadow: 0px -2px 5px 0px rgba(159, 151, 151, 0.675);
    

    p{
        margin-top:10px;
    }
}

.user{
    display:flex;
    width: 100%;
}

#avatar{
    border-radius:100px;
    width:10%;
    margin-right:20px;
}

.post-links-and-path{
    display: flex;
    width: 100%;
    gap:50%;
}

.post-path{
    width:50%;
}

.post-links{
    display: flex;
    width: 50%;
    gap:10%;
}

/* ************** SIDE BAR  */

#side-bar{
    background-color: var(--white);
    border:1px solid var(--ultra-light-purple);
    width:25%;
    position: absolute;
    left: 1vw;
    top: 15vw;
    border-radius: 4px;
    padding:10px;
}

.side-bar__container-posts{
    width:90%;
    border-radius : 4px;
    background-color: var(--ultra-light-purple);
    display: block;
    margin:15px;
  
}


    /**************************************** LISTS *****/

    /* CATEGORIES & TOPICS*/
  .topics__content{
    display: flex;
    padding:30px;
  }
    .categories-container,.topics-container{
        display : flex; 
        margin:50px auto 50px auto;
        gap:20px;
        align-items:center;
        justify-content: center;
    } */

     .categories-container{
        width:50%;
        flex-direction:column;
    }

    .topics-container{
        width:60%;
        flex-wrap:wrap;
        flex-direction:row;
    }

    .container{
        box-shadow: 0px -2px 5px 0px rgba(159, 151, 151, 0.675);
        border-radius:4px;

        a{
            text-decoration:none;
            color:var(--black);
        }

        #line{
            margin-top:15%;
            color:var(--light-grey);
        }
    }

    .name{
        text-align:center;
        position:relative;
        top:15%;
        font-family: "Anton", serif;
        letter-spacing:1px;
    }

    .topic-container{
        height:180px;
        padding:10px;
        width:30%;
    }

    .category-container{
        height:80px; 
        width:50%;
    }

    .name a:hover{
        color:var(--blue);
    }
    .update{
        text-align:right;
    }
    .delete{
        text-align: left;
    }
    .update,.delete{
        font-size:0.8em;
        margin-top:5px;
        margin-right:5px;
    }
    .update a, .delete a{
        color:var(---grey);
    }

    .update a:hover, .delete a:hover{
        color:var(--blue);
    }
    

    /* "NEW __" FORMS */

    .categories__wrapper-form{
        position:absolute;
        left:70%;
        bottom:70%;
    }

    .topics__wrapper-form{
        height:fit-content;
    }

    .form-wrapper{
        width:fit-content;

        form{
            text-align:center;
            display: flex;
            flex-direction:column;
            align-items: center;

            #new, #submit{
                outline: none;
                background-color:var(--ultra-light-purple);
                border: 1px solid var(--light-purple);
                border-radius: 8px;
            }

            #new{
                padding:3px;
                width: 80%;
            }

            #submit{
                width:fit-content;
                margin:10px;
                padding:5px;
            }

        }

    }