* {
    margin: 0;
    padding: 0;
    /* transition: all 0.5 ease-out; */
}

:root{
    --font-main: "Istok Web", serif;
    --font-bold: "Istok Web", serif;

    --black:#070600;
    --green:#E0F1E3;
    --light-grey:#F4F5F6;
    --bright-green:#5DE571;
    --purple:#673FD7;
    --light-purple:#DADCF5;
    --ultra-light-purple:#F8F8FF;
    --blue:#5de4e4;
    --white: #FFF;
    --grey:#6c6c6c;
    
}

html{
    height:100%;
    font-family:var(--font-main);
}

body{
    min-height:100%;
    position:relative;
    height:fit-content;
    font-size: 1em;
    box-sizing: border-box;
}

h1 {
    color: var(--blue);
    text-align: center;
    margin:20px 0px 0px 20px;
}


/************************************************************************** LAYOUT *****/

/* ************** NAV  */
nav{
    width:99%;
    border-radius: 5px;
    margin:auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color:var(--black);
    height:15vh;

    a{
        color:var(--light-grey);
        text-decoration: none;
    }
    
}

#nav-links{
    width:30%;
    height: fit-content;
    display:flex;
    justify-content: flex-start;
    gap:10%;  
    position:relative;
    right:0;  
    bottom:15%;
}

#nav-links a:hover{
    color: var(--blue);
}

#nav__logo{
    width:fit-content;
    display: flex;
    margin:20px 0px 0px 20px;

    p{
        color:var(--green);
        font-size: 1.5em;
        height: fit-content;
        position:relative;
        bottom:-45px;
    }
}

#nav-right{
    width: min-content;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    gap:20%; 
    padding-right:10vh;
    position:relative;
    bottom:40%;

    .sign{
        max-height:fit-content;
        
        min-width:fit-content;
        height: min-content;
        border-radius:4px;
        padding:5px;
        text-align: center;
        font-weight:700;
    }

    .signUp:hover,.signIn:hover{
        transform: scale(1.1);
        background-image: linear-gradient(to right top, #5de571, #32ee9b, #00f5c1, #00fbe3, #00ffff);
        color: var(--black);
    }

    .signIn{
        border: 2px solid var(--blue);
    }

    .signUp{
        border: 2px solid var(--bright-green);
    }

}
    .nav__search-bar{
        width: fit-content;
        display: flex;
        position: relative;
        bottom:15%;
    }

    .nav__search-bar input{
        border-radius:4px;
        border:none;
        padding:5px;
    }

    .nav__search-bar .fa-solid{
        color:var(--black);
        position:relative;
        left:-15%;
        top:6px;
    }


/* ************** FOOTER  */
footer{
    width:100%;
    display: flex;
    justify-content: center;
    position:relative;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--black);
    height:23vh;
    padding-top:20px;

    #footer-left{
        display: flex;
        flex-direction: column;
        position:relative;
        right:25%;
        gap:8%;
    
    }

    a{
        text-decoration: none;
        color: var(--blue);
    }
    p{
        color: var(--green);
    }

    #footer-middle{
     

        #small{
            position:absolute;
            bottom: 0;
            font-size: 0.8em;
        }
    }
    #footer-middle{
        display: flex;
        gap:8%;
        flex-direction: column;

    }

    #footer-right{
        display: flex;
        flex-direction: column;
        position : relative;
        left:20%;
        gap:0;
    
        img{
            width:20px;
            height: 20px;
            display:block;
            margin-right: 10px;
         
        }

        .socials{
            display: flex;
            padding:10px;
        }

        p{
            text-align: center;
        }
    }

}

/************************************************************************** HOME PAGE *****/
.wrapper {
    padding:20px;
    }
    .content {
        padding-bottom: 200px;
      }


.links-wrapper{
    position:absolute;
    right: 10%;
    width:fit-content;
    display: flex;
    gap:20%;
    margin:20px;

    .link{
        background-color: var(--purple);
        padding:5px;
        border-radius: 4px;
        touch-action: manipulation;
        color: var(--white);
        }
    }
   
.posts-wrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:50%;
    position:relative;
    left:40%;
}

.posts{
    display: flex;
    flex-direction: column;
    position : relative; 
    top:100px;
    border-radius: 4px;
    padding:20px;
    box-shadow: 0px -2px 5px 0px rgba(159, 151, 151, 0.675);
    width:100%;
    

    p{
        margin-top:10px;
    }
}

.user{
    display:flex;
    width: 100%;
}

#avatar{
    border-radius:100px;
    width:10%;
    margin-right:20px;
}

.post-links-and-path{
    display: flex;
    width: 100%;
    gap:50%;
}

.post-path{
    width:50%;
}

.post-links{
    display: flex;
    width: 50%;
    gap:10%;
}

/* ************** SIDE BAR  */

#side-bar{
    background-color: var(--white);
    border:1px solid var(--ultra-light-purple);
    width:25%;
    position: absolute;
    left: 1vw;
    top: 15vw;
    border-radius: 4px;
    padding:10px;
}

.side-bar__container-posts{
    width:90%;
    border-radius : 4px;
    background-color: var(--ultra-light-purple);
    display: block;
    margin:15px;
  
}


/************************************************************************** CATEGORIES & TOPICS *****/

    /* CATEGORIES & TOPICS*/
  .content{
    display: flex;
    padding:30px;
    padding-bottom:200px;
  }
    .categories-container,.topics-container{
        display : flex; 
        gap:20px;
        align-items:center;
        justify-content: center;
        width:100%;
        flex-wrap:wrap;
        flex-direction:row;
    } 

    .container{
        box-shadow: 0px -2px 5px 0px rgba(159, 151, 151, 0.675);
        border-radius:4px;
      
        a{
            text-decoration:none;
            color:var(--black);
        }

        #line{
            /* margin-top:5%; */
            color:var(--light-grey);
        }
    }

    .topic-container{
        height:180px;
        padding:10px;
        width:20%;
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    .category-container{
        height:80px; 
        width:20%;
        display: flex;
        flex-direction: column;
        gap:20%;
        padding: 5px;
    }


    .options{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        width: 100%;
        justify-content: space-between;

        .update,.delete{
            font-size:0.8em;
        }

        .update a, .delete a{
            color:var(---grey);
        }
    
        .update a:hover, .delete a:hover{
            color:var(--blue);
        }

    }

    .name{
        text-align:center;
        position:relative;
        font-family: "Anton", serif;
        letter-spacing:1px;
    }

    .name a:hover{
        color:var(--blue);
    }

 /************************************************************************** NEW TOPIC,CATEGORY,POST FORMS *****/

    .categories__wrapper-form{
        
      display:flex;
      flex-direction:column;
    }

    .topics__wrapper-form{
        height:fit-content;
    }

    .form-wrapper{
        width:fit-content;

        form{
            text-align:center;
            display: flex;
            flex-direction:column;
            align-items: center;

            #new, #submit{
                outline: none;
                background-color:var(--ultra-light-purple);
                border: 1px solid var(--light-purple);
                border-radius: 4px;
            }

            #new{
                padding:3px;
                width: 80%;
            }

            #submit{
                width:fit-content;
                margin:10px;
                padding:5px;
            }

        }
    }


 /************************************************************************** CREATE CATEGORY FORM *****/

    .createCategory-wrapper {
        width:fit-content;
        margin: 100px auto 0 auto;
    
    }
    .createCategory-label {
        display:inline-block;
        width: 100%;
        text-align: right;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        color: var(--purple);
        margin-bottom:20px;
    }
    
    .createCategory-input,
    textarea {
        font-size: 30px;
        background-color:var(--black);
        border: none;
        border-bottom: 5px solid var(--purple);
        color: var(--white);
        padding: 10.5px;
        }
    
    #createCategory-submit{
        display:block;
        border: 4px solid var(--purple);
        font-weight: 700;
        font-size: 1.2em;
        background-color: var(--black);
        color: var(--white);
        padding:10px;
        border-radius:4px;
        margin:80px auto 100px auto;
        width:30%;
    }
    
    #createCategory-submit:hover{
        background-color:var(--purple);
        cursor:pointer;
        margin:auto;
    }
 /************************************************************************** REGISTER & LOG IN (SIGN IN & SIGN UP) *****/

    .registerForm, .loginForm{
        display: flex;
        flex-direction: column;
        width:fit-content;
        margin:50px auto 50px auto;
        gap:8px;
    }

    .registerForm input, .loginForm input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #DDDDDD;
        color: #A0A6A3;
        box-shadow: 1px 5px 9px rgba(211, 211, 211, .7);
    }
        #submitRegistration, #submitLogin{
        border : 3px solid var(--bright-green);
        font-weight:700;
        font-size:1.2em;
        background-color:var(--black);
        color:var(--white);
    }

    #submitRegistration:hover, #submitLogin:hover{
        background-color:var(--bright-green);
        cursor:pointer;
    }

    .registrationMessage-container, .loginMessage-container{
        width:fit-content;
        margin: 0 auto 100px auto;
        padding:10px;
        border-radius:4px;
    }

    .registrationMessage, .loginMessage{
        font-weight:700;
    }

    
/* SIGN IN BUTTON */

    .container__logIn-link{
        width:fit-content;
        margin:10px auto 100px auto;
        border:2px solid var(--blue);
        border-radius:4px;
        padding:5px;
        background-color:var(--black);
        font-weight:700;
    }

    .logIn-link, .logIn-link i{
        color:var(--white);
        text-decoration:none;
    }

 /************************************************************************** USERS *****/

    .users-wrapper{
        padding:40px;
    }

    .usersProfile__container{
        margin:50px auto 100px auto;
        display:flex; 
        flex-direction:row;
        gap:30px;
        width:100%;
        flex-wrap:wrap;
        justify-content:center;
    }

    .userProfile-box{
        width:20%;
        padding:10px;
        display:flex;
        flex-direction:column;
        border :1px solid black;
        font-size:1em;
        text-decoration:none;
        border-radius:4px;
        gap:5px;
    }

    #userProfile-avatar{
        width:20%;
        border-radius:50px;
        margin:auto;
    }
