* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-main: "Istok Web", serif;
    --font-bold: "Istok Web", serif;

    --black:#070600;
    --green:#E0F1E3;
    --light-grey:#F4F5F6;
    --bright-green:#5DE571;
    --blue:#009EF9;
}

html{
    height:100%;
    font-family:var(--font-main);
}

body{
    min-height:100%;
    position:relative;
    
}

h1 {
    color: rgb(0, 122, 156);
    text-align: center;
    margin:20px;
}


/**************************************** LAYOUT *****/
/* NAV */
nav{
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color:var(--black);
    height:15vh;

    a{
        color:var(--light-grey);
        text-decoration: none;
    }
    
}

#nav-left{
    width:30%;
    height: fit-content;
    display:flex;
    justify-content: flex-start;
    gap:10%;  
    position:relative;
    right:0;  
    top:15%;
}

#nav__logo{
    width:fit-content;
    display: flex;

    p{
        color:var(--green);
        font-size: 1.5em;
        height: fit-content;
        position:relative;
        bottom:-45px;
    }
}

#nav-right{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    gap:20%; 
    padding-right:10vh;
    position:relative;
    top:-10px;

    .sign{
        max-height:fit-content;
    }

    .sign{
        border: 2px solid var(--bright-green);
        min-width:fit-content;
        height: min-content;
        border-radius:4px;
        padding:2px;
        text-align: center;
    }

    .signUp{
        background-color: var(--bright-green);
        color: var(--black);
        font-weight:700;
    }

}
    .nav__search-bar{
        width: fit-content;
        display: flex;
        position: relative;
        top:15%;
    }

    .nav__search-bar input{
        border-radius:4px;
        border:none;
        padding:5px;
    }

    .nav__search-bar .fa-solid{
        color:var(--black);
        position:relative;
        left:-15%;
        top:6px;
    }


/* FOOTER */
footer{
    width:100%;
    display: flex;
    justify-content: center;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--black);
    height:23vh;

    #footer-left{
        display: flex;
        flex-direction: column;
        position:relative;
        right:25%;
        gap:8%;
    
    }

    a{
        text-decoration: none;
        color: var(--blue);
    }
    p{
        color: var(--green);
    }

    #footer-middle{
     

        #small{
            position:absolute;
            bottom: 0;
            font-size: 0.8em;
        }
    }
    #footer-middle{
        display: flex;
        gap:8%;
        flex-direction: column;

    }

    #footer-right{
        display: flex;
        flex-direction: column;
        position : relative;
        left:20%;
        gap:0;
    
        img{
            width:20px;
            height: 20px;
            display:block;
            margin-right: 10px;
         
        }

        .socials{
            display: flex;
            padding:10px;
        }

        p{
            text-align: center;
        }
    }

}

    /**************************************** HOME *****/
.links-wrapper{
    position:absolute;
    right: 10%;
    width:fit-content;
    display: flex;
    gap:20%;

    .link{
        background-color: var(--green);
        padding:5px;
        border-radius: 4px;
    }
}

.posts-wrapper{
    width:30%;
    margin:auto;

    .posts-links{
        display: flex;
    }
}


#side-bar{
    background-color: var(--light-grey);
    position:relative;
   
    left:0;
    width:20%;
}

